<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header">
        <fieldset>
          <form id="searchForm" action="/" method="post">
            <input name="address" type="text" placeholder="Enter an Address" required>
            <input type="image" class="submitButton" src="/images/Tilda_Icons_2web_magnifier.svg" alt="Submit Form">
          </form>
        </fieldset>
    </div>

    <div id="currentDetailsWrapper">
      <div id="currentDetails">
        {{#if address}}
        {{address}}
        {{else}}
          {{error}}
        {{/if}}
      </div>
    </div>

    <div class="container">
      <div class="forecast">
        {{#if firstResult}}
        <span class="currently">
          <span class="weatherIcon">
            <img src={{firstResult.icon}} alt="weather icon">
          </span>
          <span class="description swap">
            <span>{{firstResult.temperature}}&deg;C {{firstResult.summary}}</span>
            <span class="summaryWeather">
              {{firstResult.source}}
            </span>
            <span class="summaryAddress">
            </span>
          </span>
          {{else}}
            {{error}}
          </span>
        {{/if}}
        </div>
      </div>

      <div class="container">
        <div class="forecast">
          {{#if secondResult}}
          <span class="currently">
            <span class="weatherIcon">
              <img src={{secondResult.icon}} alt="weather icon">
            </span>
            <span class="description swap">
              <span>{{secondResult.temperature}}&deg;C {{secondResult.summary}}</span>
              <span class="summaryWeather">
                {{secondResult.source}}
              </span>
              <span class="summaryAddress">
              </span>
            </span>
            {{else}}
              {{error}}
            </span>
          {{/if}}
          </div>
        </div>


  </body>
</html>
